<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Tobii.EyeX.Client" version="1.8.504" targetFramework="net472" />
  <package id="Tobii.EyeX.Framework" version="1.8.503" targetFramework="net472" />
  <package id="Tobii.Interaction" version="0.7.3" targetFramework="net472" />
  <package id="Tobii.StreamEngine" version="2.2.2.363" targetFramework="net472" />
</packages>